.App-header {
  background-color: #17375f;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.search_input {
  font-size: 16px;
  height: 32px;
  width: 40%;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px 20px;
  background: transparent;
  color: white;
  outline: none;
}

.search_icon {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  cursor: pointer;
  outline: 0;
  color: #eee;
  position: relative;
  left: -54px;
  background: rgba(5, 213, 166, 1);
  font-size: 24px;
}

.search_icon:hover {
  background: rgba(5, 213, 166, 0.6);
}

.filter_section {
  margin: 30px auto;
  min-width: 300px;
  max-width: 960px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}

.filter_section h4 {
  text-transform: uppercase;
  color: #a1a1a1;
}

.pet_type {
  list-style: none;
  padding: 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.pet_type li {
  border: 2px solid transparent;
  padding: 8px 30px;
  border-radius: 30px;
  background: transparent;
  color: #17375f;
  cursor: pointer;
  margin-right: 10px;
}

.pet_type li.active {
  border: 2px solid #05d5a6;
  border-radius: 30px;
  background: #05d5a6;
  color: white;
  cursor: pointer;
}

.pet_type li:hover {
  border: 2px solid #05d5a6;
  background: white;
  color: #17375f;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pet_wrapper {
  margin: 50px auto;
  max-width: 960px;
}

.pet_list {
  list-style: none;
  display: flex;
  padding: 0;
  flex-flow: row wrap;
}

.pet_list li {
  margin-right: 20px;
}


@media screen and (max-width: 770px) {
  .App-header {
    min-height: 200px;
  }
  .filter_section {
    margin: 10px auto;
    max-width: 700px;
    font-size: 14px;
  }
  .pet_wrapper {
    margin: 30px auto;
    max-width: 700px;
  }
  .pet_type li {
    padding: 4px 12px;
  }
}

@media screen and (max-width: 480px) {
  .App-header {
    min-height: 120px;
  }
  .filter_section {
    margin: 10px auto;
    max-width: 300px;
  }
  .pet_wrapper {
    margin: 30px auto;
    max-width: 300px;
  }
  .search_input {
    width: 60%;
  }
  .search_icon {
    left: -45px;
  }

  .pet_type {
    width: 100%;
  }
 
}